section#reviews .about-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
}
section#reviews .about-item h3{
  text-align: center;
  color: #fff;
}
section#reviews .about-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 104px;
}
section#reviews .about-item i.fa {
  border: 2px solid #fff;
  color: #fff;
}
section#reviews .about-item:hover i.fa {
  color: #fff;
  background: #2979ff;
  border: 2px solid #2979ff;
}
section#reviews .about-item:hover h3 {
  color: #2979ff;
}


section#screens .about-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
}
section#screens .about-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 104px;
}
section#screens .about-item i.fa {
  border: 2px solid #66cdcc;
  color: #66cdcc;
}
section#screens .about-item:hover i.fa {
  color: #ffffff;
  background: #66cdcc;
}
section#screens .about-item:hover h3 {
  color: #66cdcc;
}

section#features .platforms {
  margin: 5px auto 120px auto;
  text-align: center;
}
section#features .platforms .btn {
  margin-right: 10px;
  margin-bottom: 20px;
  border: 2px solid #66cdcc;
  color: #66cdcc;
}
section#features .platforms .btn:hover {
  margin-right: 10px;
  margin-bottom: 20px;
  border: 2px solid #66cdcc;
  color: #fff;
}
